html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #1f2326;
    width: 100%;
    text-decoration: none;
    outline: 0;
    @font-face {
        font-family: 'Russo One';
        src: url('../Fonts/RussoOne-Regular.ttf');
    }
    @font-face {
        font-family: 'Kaushan Script';
        src: url('../Fonts/KaushanScript-Regular.ttf');
    }
    @font-face {
        font-family: 'Muller Light';
        src: url('../Fonts/Fontfabric - MullerLight.otf');
    }
    @font-face {
        font-family: 'Muller Bold';
        src: url('../Fonts/Fontfabric - MullerBold.otf');
    }
    @font-face {
        font-family: ' Muller Regular';
        src: url('../Fonts/Fontfabric - MullerRegular.otf');
    }
    .hide {
        display: none;
    }
    .container {
        height: 100vh;
        width: 100%;
        max-width: 1200px;
        padding-left: 40px;
        padding-right: 40px;
    }
    .arrow {
        position: fixed;
        z-index: 90;
        bottom: 27px;
        right: 27px;
        width: 94px;
        height: 167px;
        background-image: url('../img/arrow.svg');
        cursor: pointer;
        transition: scroll 4s;
    }
    .header__wrapper {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
    // .arrow-r {}
    .header {
        display: flex;
        margin-top: 100px;
        background-image: url("../img/header-fon.png");
        width: 100%;
        height: 100vh;
        &__logo-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            max-height: 200px;
        }
        &__block {
            display: flex;
            flex-direction: column;
            margin-top: 120px;
            max-width: 425px;
            text-align: left;
            &__heading {
                color: #dc1a1a;
                font-family: "Kaushan Script";
                font-size: 36px;
                font-weight: 400;
                font-style: italic;
                margin: 0;
            }
            &__main {
                color: #ffffff;
                font-family: "Russo One";
                font-size: 50px;
                font-weight: 400;
                font-style: italic;
                text-transform: uppercase;
                margin-top: 25px;
            }
            &__text {
                color: #7c8c9b;
                font-family: "Muller Light";
                font-size: 16px;
                font-weight: 400;
                line-height: 30px;
                margin-bottom: 91px;
            }
            &__button {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 57px;
                width: 223px;
                border: 4px solid #dc1a1a;
                transform: skewX(-28deg);
                background-color: transparent;
                color: #fff;
                font-size: 11px;
                letter-spacing: 2px;
                text-transform: uppercase;
                cursor: pointer;
                animation: color;
                transition: background-size .15s;
                @keyframes color {
                    from {
                        background-color: white
                    }
                    10% {
                        background-color: none
                    }
                    20% {
                        background-color: white
                    }
                    30% {
                        background-color: none
                    }
                    to {
                        background-color: white;
                    }
                }
            }
             ::after {
                position: absolute;
                content: '';
                position: absolute;
                left: -24px;
                top: -4px;
                height: 57px;
                width: 2px;
                background-color: #fff;
            }
        }
        &__img {
            max-width: 623px;
            max-height: 694px;
        }
    }
}