.const__helmet {
    width: 479px;
    height: 545px;
    position: relative;
    top: 0;
    top: -501px;
}

.const__visors {
    width: 421px;
    height: 189px;
    position: relative;
}

.v-1 {
    top: -918px;
    right: -57px;
    z-index: 1;
}

.v-2 {
    top: -1136px;
    right: -57px;
    z-index: 2;
}

.v-3 {
    top: -1354px;
    right: -57px;
    z-index: 3;
}

.v-4 {
    top: -1573px;
    right: -57px;
    z-index: 4;
}

.v-5 {
    top: -1792px;
    right: -57px;
    z-index: 5;
}

.v-6 {
    top: -2010px;
    right: -57px;
    z-index: 6;
}

.const__holder {
    position: relative;
    width: 35px;
    height: 49px;
}

.h-1 {
    bottom: 1965px;
    left: -387px;
    z-index: 7;
}

.h-2 {
    bottom: 1965px;
    left: -424px;
    z-index: 8;
}

.h-3 {
    bottom: 2038px;
    left: 8px;
    z-index: 9;
}

.h-4 {
    bottom: 2054px;
    left: -61px;
    z-index: 10;
}

.h-5 {
    bottom: 2074px;
    left: -128px;
    z-index: 11;
}

.h-6 {
    bottom: 2002px;
    left: -48px;
    z-index: 12;
}